{% extends "container/public.html" %}

{% block content %}
<h2>Create User</h2>
<form action="/register" method="post">
    <label for="username">Username</label><br />
    <input type="text" id="username" name="username" value="{{ form.username.to_owned().unwrap_or_default() }}" /><br />
    <label for="email">Email</label><br />
    <input type="text" id="email" name="email" value="{{ form.email.to_owned().unwrap_or_default() }}" /><br />
    <label for="password">Password</label><br />
    <input type="password" id="password" name="password"><br />
    <label for="password_confirm">Confirm Password</label><br />
    <input type="password" id="password_confirm" name="password_confirm"><br />
    <input type="submit" />
</form>
{% endblock %}