.notices {}

.notice {
    border: 2px solid transparent;
    border-left-width: 4px;
    padding: 0.5rem;
    margin-bottom: 1rem;
    font-size: 1rem;

    &.notice--error {
        background-color: var(--error-background);
        border-color: var(--error-border-color);
        color: var(--error-color);
    }

    &.notice--info {
        background-color: var(--info-background);
        border-color: var(--info-border-color);
        color: var(--info-color);
    }

    &.notice--success {
        background-color: var(--success-background);
        border-color: var(--success-border-color);
        color: var(--success-color);
    }

    &.notice--warning {
        background-color: var(--warning-background);
        border-color: var(--warning-border-color);
        color: var(--warning-color);
    }
}